// Color Variables
$primaryColor: #FF5C37;
$softPrimaryColor: #FEBE92;
$backgroundColor: #FCFBE9;
$backgroundInputColor: #e1d5c2;
$black: #000000;
$white: #ffffff;
$testBGColor: #9857CD;
$test02BgColor: #98CD57;


.GeneratePageMainContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Poppins", sans-serif;

    .titleContainer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin: 0;

        h1 {
            font-family: "Oswald", sans-serif;
            text-transform: uppercase;
            font-size: 96px;
            margin: 0;
        }
    }

    .generationButtonSection {
        display: flex;
        justify-content: center;
        align-items: center;
        height: fit-content;
        width: 100%;
        margin-top: 200px;
        z-index: -5;
        // background-color: $testBGColor;

        .powerButtonCon {
            position: absolute;
            cursor: pointer;
            outline: none;
            border: none;
            border-radius: 100%;
            // background-color: $test02BgColor;
            z-index: 1;
            width: fit-content;
            height: fit-content;

            img {
                transition: all ease-in-out .2s;
            }

            :hover {
                transform: scale(1.2);
                width: fit-content;
                height: fit-content;
            }
        }

        .genRingCon01 {
            position: absolute;

            img {
                width: 400px;
                opacity: .7;
                z-index: -6;
            }
        }

        .genRingCon02 {
            position: absolute;

            img {
                width: 550px;
                opacity: .7;
                z-index: -6;
            }
        }

        .genRingCon03 {
            position: absolute;

            img {
                width: 700px;
                opacity: .5;
                z-index: -6;
            }
        }

        .genRingCon04 {
            position: absolute;

            img {
                width: 850px;
                opacity: .4;
                z-index: -6;
            }
        }

        .genRingCon05 {
            position: absolute;

            img {
                width: 1000px;
                opacity: .3;
                z-index: -6;
            }
        }

        .genRingCon06 {
            position: absolute;

            img {
                width: 1150px;
                opacity: .2;
                z-index: -100;
            }
        }
    }

    .filterSelectorPanelCon {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 10px;
        background-color: $backgroundInputColor;
        padding: 20px;
        border-radius: 22px;
        width: 400px;
        position: fixed;
        right: 40px;
        top: 110px;
        box-shadow:
            0px 2.8px 2.2px rgba(0, 0, 0, 0.02),
            0px 6.7px 5.3px rgba(0, 0, 0, 0.028),
            0px 12.5px 10px rgba(0, 0, 0, 0.035),
            0px 22.3px 17.9px rgba(0, 0, 0, 0.042),
            0px 41.8px 33.4px rgba(0, 0, 0, 0.05),
            0px 100px 80px rgba(0, 0, 0, 0.07);

        .filterSelectorPanelTitelCon {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            width: 100%;

            h1 {
                font-family: "Oswald", sans-serif;
                text-transform: uppercase;
                margin: 0;
            }
        }


        .sectionContainer {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;

            h3 {
                text-transform: capitalize;
                margin: 0;
            }

            .divider {
                width: 400px;
                background-color: #000000;
                opacity: 0.2;
                border: 1px solid $black;
                margin-top: 5px;
                margin-bottom: 5px;
            }

            .tagContainer {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                gap: 5px;

                .tag {
                    background-color: $primaryColor;
                    border-radius: 12px;
                    padding: 5px 10px;
                    color: $backgroundColor;
                    border: 1px solid $backgroundInputColor;
                    text-transform: capitalize;
                    font-size: 12px;
                    transition: all ease-in-out .1s;
                    cursor: pointer;
                }

                .tag:hover {
                    transform: scale(1.1);
                }
            }
        }

    }

    .aiOutputPanel {
        background-color: $backgroundInputColor;
        padding: 10px;
        width: 60%;
        min-width: 100px;
        height: fit-content;
        border-radius: 12px;
        margin: auto;
        position: fixed;
        // right: 0px;
        bottom: 40px;
        z-index: 15;
        box-shadow:
            0px 2.8px 2.2px rgba(0, 0, 0, 0.02),
            0px 6.7px 5.3px rgba(0, 0, 0, 0.028),
            0px 12.5px 10px rgba(0, 0, 0, 0.035),
            0px 22.3px 17.9px rgba(0, 0, 0, 0.042),
            0px 41.8px 33.4px rgba(0, 0, 0, 0.05),
            0px 100px 80px rgba(0, 0, 0, 0.07);

        .textarea {
            width: 100%;
            min-height: 100%;
            height: fit-content;
            background-color: transparent;
            box-sizing: border-box;
            outline: none;
            border: none;
            resize: vertical;
        }
    }
}