// Color Variables
$primaryColor: #FF5C37;
$backgroundColor: #FCFBE9;
$black: #000000;
$white: #ffffff;
$testBGColor: #9857CD;
$test02BgColor: #98CD57;


.addPostButtonCon {
    // background-color: #98CD57;
    position: fixed;
    bottom: 20px;
    left: 0px;
    margin: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .addPostButton {
        background-color: $primaryColor;
        border: 2px solid $backgroundColor;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 22px 22px;
        border-radius: 100px;
        outline: none;
        font-size: 16px;
        transition: all ease-in-out .1s;
        cursor: pointer;
        box-shadow:
            2.8px 2.8px 2.2px rgba(0, 0, 0, 0.02),
            6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028),
            12.5px 12.5px 10px rgba(0, 0, 0, 0.035),
            22.3px 22.3px 17.9px rgba(0, 0, 0, 0.042),
            41.8px 41.8px 33.4px rgba(0, 0, 0, 0.05),
            100px 100px 80px rgba(0, 0, 0, 0.07);
    }

    .addPostButton:hover {
        transform: scale(1.1);
        color: $white;
    }
}

.uploadButton {
    background-color: $primaryColor;
    border-radius: 22px;
    border: none;
    outline: none;
    padding: 12px 20px;
    font-size: 16px;
    font-weight: 900;
    color: $white;
    transition: all ease-in-out .1s;
    cursor: pointer;
}
.uploadButton:hover{
    transform: scale(1.05);
}

.addMediaModelFileButton{
    // background-color: $primaryColor;
    // outline: none;
    // border: none;
}