// Color Variables
$primaryColor: #FF5C37;
$softPrimaryColor: #FEBE92;
$backgroundColor: #FCFBE9;
$black: #000000;
$white: #ffffff;
$testBGColor: #9857CD;
$test02BgColor: #98CD57;

.loginPageMainContainer {
    font-family: "Poppins", sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    gap: 20px;

    .LargeHaz01Con {
        width: 25%;
        overflow: hidden;
        border-radius: 22px;
        margin-top: 40px;
        height: 90vh;
        // background-color: $test02BgColor;
        img{
            height: 100%;
        }
    }

    .loginPageBannerCon {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 10px;

        h2 {
            font-size: 38px;
            font-weight: 700;
            text-transform: uppercase;
            font-family: "Oswald", sans-serif;
        }
    }

    .loginFormContainer {
        display: flex;
        justify-content: center;

        .loginForm {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            gap: 10px;
            width: 500px;
            height: 70vh;
            padding: 10px 20px 20px 20px;
            border-radius: 22px;
            background-color: $backgroundColor;
            border: 1.5px dashed $black;
            box-shadow:
                2.8px 2.8px 2.2px rgba(0, 0, 0, 0.02),
                6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028),
                12.5px 12.5px 10px rgba(0, 0, 0, 0.035),
                22.3px 22.3px 17.9px rgba(0, 0, 0, 0.042),
                41.8px 41.8px 33.4px rgba(0, 0, 0, 0.05),
                100px 100px 80px rgba(0, 0, 0, 0.07);

            .formTileCon {
                h1 {
                    margin: 0;
                    text-transform: uppercase;
                    font-weight: 900;
                    font-family: "Oswald", sans-serif;
                    font-size: 32px;
                }

                p {
                    margin: 0;
                }
            }

            .loginInputFields {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 100%;

                .loginEmailInputCon {
                    display: flex;
                    flex-direction: column;
                    justify-content:center;
                    align-items: flex-start;
                    // width: 90%;
                    width: 90%;

                    .emailInput {
                        // width: calc(100% + 120px);
                        width: 100%;
                        // width: 360px;
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        align-items: center;
                        background-color: $white;
                        border-radius: 12px;
                        padding: 8px 12px;

                        input {
                            background-color: transparent;
                            border: none;
                            outline: none;
                            width: 100%;
                        }
                    }
                }
            }
            .loginButton{
                background-color: $primaryColor;
                padding: 10px 20px;
                border: none;
                border-radius: 12px;
                outline: none;
                width: 150px;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                gap: 10px;
                cursor: pointer;

                p{
                    font-size: 24px;
                    font-weight: 700;
                    color: $backgroundColor;
                    margin: 0;
                }
            }
        }
    }
}